@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover {
    @apply underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading my-6 font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  p {
    @apply my-2;
  }

  ul,
  ol {
    @apply my-4 ml-10;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    @apply my-2;
  }
}

@layer components {
  .generate-btn {
    @apply disabled:bg-[#DEE2E6] disabled:cursor-not-allowed hover:no-underline bg-[#1098AD] tracking-wider w-full text-center text-white font-bold cursor-pointer py-2 rounded-md hover:bg-[#0B7285] transition-colors block;
  }

  .auth-btn {
    @apply hover:no-underline bg-[#1098AD] tracking-wider w-[150px] h-[40.8px] text-center text-white font-bold cursor-pointer py-2 rounded-sm hover:bg-[#0B7285] transition-colors block;
  }
}

:root {
  --size-mobile: 768px;
  --size-tablet: 1280px;
  --card-width-mobile: 350px;
  --card-width-web: 400px;
  --spacing-xxs: 8px;
  --spacing-xs: 10px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --cyan-7: #1098ad;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
}

.hide-on-small-screens {
  display: none;
}

.hide-on-large-screens {
  display: block;
}

.container-w {
  max-width: 1170px;
}

.toggle-row-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-h1 {
  font-size: 28px;
  line-height: 2rem;
  color: var(--gray-4);
}

.demo-h2 {
  font-size: 24px;
  line-height: 2rem;
  color: var(--gray-4);
}

.demo-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--gray-6);
}

.toggle-header-font-size {
  font-size: 16px;
}

.toggle-p-font-size {
  font-size: 14px;
}

@media (min-width: 769px) {
  .hide-on-large-screens {
    display: none;
  }

  .hide-on-small-screens {
    display: block;
  }

  .toggle-row-column {
    flex-direction: row;
    justify-content: space-between;
  }

  .toggle-header-font-size {
    font-size: 20px;
  }

  .toggle-p-font-size {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .lg-halveWidth {
    width: 50%;
  }

  .lg-heading {
    font-size: 2.25rem /* 36px */;
    line-height: 1.25;
  }

  .lg-text-xl {
    font-size: 1.25rem /* 20px */;
    line-height: 2rem /* 32px */;
    font-weight: 600;
  }

  .lg-justify-end {
    justify-content: flex-end;
  }

  .lg-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg-col-span-2 {
    grid-column: span 2 / span 2;
  }

  /* navbar */
  .lg-pb-20 {
    padding-bottom: 5rem;
  }

  .lg-justify-between {
    justify-content: space-between;
  }

  .container-w {
    width: 100%;
  }

  .demo-h1 {
    font-size: 40px;
    line-height: 2.5rem;
  }

  .demo-h2 {
    font-size: 28px;
  }

  .demo-p {
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
  }
}
